{% extends "layouts/admin.html" %}

{% block content %}
<form class="admin-model-form" action="">
	<section class="container-fluid">
		<div class="row">
			<div class="col-lg-9">
				<div class="form-group">
					<label for="title">Title:</label>
					<input id="title" class="form-control input-lg" type="text" placeholder="Enter title..." value="Home" />
				</div>
				<div class="form-group">
					<label for="url">Url:</label>
					<input id="url" class="form-control" type="url" value="/" />
				</div>
			</div>
			<aside class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						Actions
					</div>
					<div class="panel-body">
						<button class="btn btn-success btn-block" type="submit">
							<i class="glyphicon glyphicon-floppy-save"></i>
							Update
						</button>
						<button class="btn btn-warning btn-block" type="submit">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
						<button class="btn btn-danger btn-block" type="submit">
							<i class="glyphicon glyphicon-trash"></i>
							Delete
						</button>
					</div>
				</div>
			</aside>
		</div>
	</section>
</form>
{% endblock %}
